@import url('../assets/styles/normalize.css');

:root {
  --cor-primaria: #fffef4;
  --cor-secundaria: #3D315B;
  --cor-terciaria: #DA4167;
  --cor-quartenaria: #6EB4D1;


  --cor-realce-claro: rgba(255,255,255,0.2);

}

body {
  background-color: var(--cor-primaria);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;
}

h1 {
  color: var(--cor-terciaria);
}