.main {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainCards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
}