.appFooter {
    background-color: var(--cor-secundaria);
    padding: 1em;
    color: var(--cor-primaria);
    width: 100%;
    box-sizing: border-box;
}

.appFooterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.footerWhatsapp {
    font-size: 2em;
    color: var(--cor-quartenaria);
    text-decoration: none;
    display: flex;
}